@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.download {
	padding: $spacing-3xl 0;
}

.download-header {
	text-align: center;
	margin-bottom: $spacing-xl;
}

.browser-cards {
	@include layout(flex, $flex-direction: column);
	@include flex-layout($ai: center);
	gap: $spacing-lg;
}

@media (min-width: $breakpoint-tablet) {
	.browser-cards {
		@include layout($flex-direction: row);
		@include flex-layout(center, $wrap: wrap);
	}
}

@media (min-width: $breakpoint-desktop) {
	.browser-cards {
		@include layout($flex-direction: row);
		@include flex-layout(center, $ai: flex-start);
	}

	.browser-card {
		&:nth-child(2) {
			margin-top: $spacing-lg;
		}

		&:nth-child(3) {
			margin-top: $spacing-3xl;
		}
	}
}
