@use '../abstracts/variables' as *;

.hero {
	padding: $spacing-md 0 $spacing-3xl;
}

.hero-content {
	display: flex;
	flex-direction: column-reverse;
	gap: $spacing-xl;
	text-align: center;
}

.hero-text {
	p {
		margin-bottom: $spacing-md;
		line-height: $line-height-base;
	}
}

.hero-buttons {
	display: flex;
	gap: 15px;
	justify-content: center;
	flex-wrap: wrap;
}

.hero-image {
	position: relative;

	img {
		width: 100%;
		height: auto;
		max-width: 500px;
		margin: 0 auto;
		display: block;
	}

	&::after {
		content: '';
		position: absolute;
		right: -50%;
		top: 25%;
		width: 100%;
		height: 75%;
		background: $soft-blue;
		border-radius: $border-radius-lg 0 0 $border-radius-lg;
		z-index: -1;
	}
}

@media (min-width: $breakpoint-tablet) {
	.hero-buttons {
		justify-content: flex-start;
	}
}

@media (min-width: $breakpoint-desktop) {
	.hero-content {
		flex-direction: row;
		align-items: center;
		text-align: left;
	}

	.hero-text {
		flex: 1;
	}

	.hero-image {
		flex: 1;
	}
}
