@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
	padding: $spacing-md 0 $spacing-3xl;
}

.hero-content {
	@include layout(flex, column-reverse);
	@include flex-layout($gap: $spacing-xl);
	text-align: center;
}

.hero-text {
	p {
		margin-bottom: $spacing-md;
		line-height: $line-height-base;
	}
}

.hero-buttons {
	@include layout(flex);
	@include flex-layout(center, $wrap: wrap, $gap: 15px);
}

.hero-image {
	@include layout($position: relative);

	img {
		@include size($max-width-percentage, auto, $max-width: 500px);
		@include layout(block);
		margin: 0 auto;
	}

	&::after {
		@include layout($position: absolute, $z-index: -1);
		@include coordinates(25%, -50%);
		@include size($max-width-percentage, 75%);
		content: '';
		background: $soft-blue;
		border-radius: $border-radius-lg 0 0 $border-radius-lg;
	}
}

@media (min-width: $breakpoint-tablet) {
	.hero-buttons {
		@include flex-layout(flex-start);
	}
}

@media (min-width: $breakpoint-desktop) {
	.hero-content {
		@include layout($flex-direction: row);
		@include flex-layout($ai: center);
		text-align: left;
	}

	.hero-text {
		flex: 1;
	}

	.hero-image {
		flex: 1;
	}
}
