@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.newsletter {
	background: $soft-blue;
	color: $white;
	padding: $spacing-2xl 0;
	text-align: center;
}

.newsletter-label {
	font-size: $font-size-base - 3px;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: $spacing-sm;
}

.newsletter h2 {
	@include size($max-width: 450px);
	color: $white;
	font-size: $font-size-base + 12px;
	margin-bottom: $spacing-md;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
}

.newsletter-form {
	@include layout(flex, $flex-direction: column);
	@include flex-layout($gap: 15px);
	@include size($max-width: 450px);
	margin: 0 auto;
}

@media (min-width: $breakpoint-desktop) {
	.newsletter-form {
		@include layout($flex-direction: row);
		@include flex-layout(center, $ai: flex-start, $gap: 16px);

		.btn-secondary {
			flex: none;
			padding: 15px 32px;
			height: fit-content;
			white-space: nowrap;
		}
	}
}
