@use '../abstracts/variables' as *;

.btn {
	padding: 12px 24px;
	border: 2px solid transparent;
	border-radius: $border-radius-sm;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: $transition-base;

	&:focus {
		outline: 2px solid $very-dark-blue;
		outline-offset: 2px;
	}
}

.btn-chrome {
	background: $soft-blue;
	color: $white;
	box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2);

	&:hover {
		background: $white;
		color: $soft-blue;
		border: 2px solid $soft-blue;
		box-shadow: none;
	}
}

.btn-firefox {
	background: $light-gray;
	color: $very-dark-blue;
	box-shadow: 0 8px 8px -4px rgba(145, 148, 162, 0.2);

	&:hover {
		background: $white;
		color: $very-dark-blue;
		border: 2px solid $very-dark-blue;
		box-shadow: none;
	}
}

.btn-primary {
	background: $soft-blue;
	color: $white;
	border: 2px solid $soft-blue;

	&:hover {
		background: $white;
		color: $very-dark-blue;
		border: 2px solid $very-dark-blue;
		box-shadow: none;
	}
}

.btn-secondary {
	background: $soft-red;
	color: $white;
	padding: 12px 24px;
	border: 2px solid transparent;
	border-radius: $border-radius-sm;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: $transition-base;

	&:hover {
		background: #fff;
		border-color: $soft-red;
		color: $soft-red;
	}
}
