@use '../abstracts/variables' as *;

.form-group {
	position: relative;
	margin-bottom: $spacing-lg;

	input {
		width: 100%;
		padding: 15px 20px;
		border: 2px solid transparent;
		border-radius: $border-radius-sm;
		font-size: 14px;
		outline: none;

		&:focus {
			border-color: $soft-blue;
			outline: 2px solid $very-dark-blue;
			outline-offset: 2px;
		}

		&:invalid {
			&:focus {
				border-color: $soft-red;
			}

			&:not(:focus):not(:placeholder-shown) {
				~ .error-icon {
					display: block;
				}

				~ .error-message {
					display: block;
				}
			}

			&:not(:placeholder-shown) {
				border-color: $soft-red;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				margin-bottom: 0;
			}
		}

		&[aria-invalid='true'] {
			border-color: $soft-red;
		}
	}
}

.error-icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	transition: $transition-base;
}

.error-message {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: $soft-red;
	color: $white;
	font-size: 10px;
	padding: 5px 12px;
	border-radius: 0 0 $border-radius-sm $border-radius-sm;
	font-style: italic;
	text-align: left;
	margin-top: -2px;
	z-index: 10;
	transition: $transition-base;
}

@media (min-width: $breakpoint-desktop) {
	.form-group {
		flex: 1;
		max-width: 300px;
		position: relative;
		margin-bottom: 0;

		input:invalid:not(:placeholder-shown) {
			border-bottom: 2px solid $soft-red;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.error-message {
		padding: 4px 12px;
	}
}
