@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.form-group {
	@include layout($position: relative);
	margin-bottom: $spacing-lg;

	input {
		@include size($max-width-percentage);
		padding: 15px 20px;
		border: 2px solid transparent;
		border-radius: $border-radius-sm;
		font-size: $font-size-base - 2px;
		outline: none;

		&:focus {
			border-color: $soft-blue;
			outline: 2px solid $very-dark-blue;
			outline-offset: 2px;
		}

		&:invalid {
			&:focus {
				border-color: $soft-red;
			}

			&:not(:focus):not(:placeholder-shown) {
				~.error-icon {
					@include layout(block);
				}

				~.error-message {
					@include layout(block);
				}
			}

			&:not(:placeholder-shown) {
				border-color: $soft-red;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				margin-bottom: 0;
			}
		}

		&[aria-invalid='true'] {
			border-color: $soft-red;
		}
	}
}

.error-icon {
	@include layout(none, $position: absolute);
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	transition: $transition-base;
}

.error-message {
	@include layout(none, $position: absolute, $z-index: 10);
	@include coordinates(100%, 0, $left: 0);
	background: $soft-red;
	color: $white;
	font-size: $font-size-base - 6px;
	padding: 5px 12px;
	border-radius: 0 0 $border-radius-sm $border-radius-sm;
	font-style: italic;
	text-align: left;
	margin-top: -2px;
	transition: $transition-base;
}

@media (min-width: $breakpoint-desktop) {
	.form-group {
		@include layout($position: relative);
		@include size($max-width: 300px);
		flex: 1;
		margin-bottom: 0;

		input:invalid:not(:placeholder-shown) {
			border-bottom: 2px solid $soft-red;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.error-message {
		padding: 4px 12px;
	}
}
