@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		overflow-x: hidden;
		width: 100%;
	}

	body {
		overflow-x: hidden;
		width: 100%;
		position: relative;
		font-family: theme('fontFamily.sans');
		font-size: theme('fontSize.base');
		line-height: theme('lineHeight.base');
		color: theme('colors.grayish-blue');
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: theme('colors.very-dark-blue');
		font-weight: 500;
	}

	h1 {
		font-size: 30px;
		margin-bottom: theme('spacing.sm');
	}

	h2 {
		font-size: 28px;
		margin-bottom: theme('spacing.sm');
	}

	h3 {
		font-size: 24px;
		margin-bottom: theme('spacing.sm');
	}

	p {
		line-height: theme('lineHeight.base');
	}

	@media (min-width: 768px) {
		h1 {
			font-size: 40px;
		}
	}

	@media (min-width: 1024px) {
		h1 {
			font-size: 48px;
		}
	}
}

@layer components {
	.nav-toggle-checkbox:checked ~ ul#main-menu {
		display: flex !important;
	}

	.nav-toggle-checkbox:checked ~ .logo-container .logo:first-child {
		display: none !important;
	}

	.nav-toggle-checkbox:checked ~ .logo-container .logo:last-child {
		display: block !important;
	}

	.nav-toggle-checkbox:checked ~ label img:first-child {
		display: none !important;
	}

	.nav-toggle-checkbox:checked ~ label img:last-child {
		display: block !important;
	}

	@media (min-width: 1024px) {
		.nav-toggle-checkbox:checked ~ .logo-container .logo:first-child {
			display: block !important;
		}

		.nav-toggle-checkbox:checked ~ .logo-container .logo:last-child {
			display: none !important;
		}

		.logo-container .logo:first-child {
			display: block !important;
		}

		.logo-container .logo:last-child {
			display: none !important;
		}
	}
}
